<div class="banner" style="height: 400px; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561722798-9a732d141027?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fG1vdmllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60);">
  <h2 style="color: white; display: flex;  justify-content: center; align-items: center; height: 400px; font-size: 30px;">Access all your movies here</h2>
</div>
  <div class="container">
  <% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list.id) %></p>
  <% end %>
  </div>

<%= link_to "Add a new list", new_list_path %>
