<div class="container mt-2 bg-dark text-light">
<h1 class=>Create a new list</h1>
<%= simple_form_for @list do |f| %>
  <div class="fs-4 font-weight-bold">
  <%= f.input :name %>
  </div>
  <div class="btn btn-light btn-sm mt-4">
  <%= f.submit %>
  </div>
<% end %>
</div>
