<nav class="px-8 py-4 flex flex-wrap items-center bg-gray-50 shadow-sm sticky-on-top">
  <div class="text-center text-xl font-semibold mb-0">
    <%= Rails.application.class.module_parent_name %>
  </div>
  <ul class="ml-auto flex space-x-4">
    <li>
      <%= link_to "My List", lists_path, class:"text-decoration-none text-dark fw-bold" %>
    </li>
    <li>
    <%= link_to "New List", new_list_path, class:"text-decoration-none text-dark fw-bold" %>
    </li>
  </ul>
</nav>
